version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: inventory_mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DOCKER_MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DOCKER_MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${DOCKER_MONGO_DATABASE}
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: inventory_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongodb_data:
  redis_data:
